extends layout

block content
  h1 FCC Request Header Service
  
  h2 Instructions
  .ui.list
    .item Pass whoami to the following API: /whoami;
    
  h2 How it works
  .ui.relaxed.list
    .item Example request - 
      b http://fcc-timestamp-service.herokuapp.com/whoami
    .item Example response - 
      em {"ipaddress":"::1","language":"en-US","software":"Macintosh; Intel Mac OS X 10.11; rv:44.0"}
  
